<div data-controller="modal" class="max-w-6xl mx-auto mt-10 bg-gradient-to-br from-purple-50 to-blue-50 p-8 rounded-xl shadow-2xl flex flex-col space-y-8">
  <h1 class="text-4xl font-bold text-gray-900 font-poppins text-center">Listado de Influencers</h1>

  <%= render "influencers/partials/search" %>

  <!-- Lista de influencers -->
  <ul id="influencers-list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    <%= render partial: "influencers/partials/influencer", collection: @influencers, as: :influencer %>
  </ul>

  <!-- Botón para abrir el modal -->
  <div class="text-center">
    <button data-action="click->modal#open" class="bg-gradient-to-r from-blue-500 to-purple-600 text-white px-8 py-4 rounded-xl hover:from-blue-600 hover:to-purple-700 transition duration-300 flex items-center justify-center space-x-3 font-poppins">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
      </svg>
      <span class="text-lg">Agregar Influencer</span>
    </button>
  </div>

  <!-- Modal para agregar influencer -->
  <%= render "influencers/partials/modal" %>
</div>
