<footer class="bg-gradient-to-r from-blue-600 to-purple-700 text-white p-8 mt-10 border-t border-purple-800 shadow-2xl">
  <div class="max-w-6xl mx-auto text-center font-poppins">
    <p class="text-lg">&copy; 2025 Influencer App. Joel Jaldin. Todos los derechos reservados.</p>
  </div>
</footer>